html {
  scroll-behavior: smooth;
}

body {

  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
}

.btn {
  border-radius: 0;
}

.btn-mf {
    background-color: #D5CEE0;
    border-color: #D5CEE0;
}
.btn-mf:hover {
    background-color: white;
    border-color: #D5CEE0; 
}
.btn-mf-dark {
  background-color: #6385ff;
  border-color:  #6385ff;
}
.btn-mf-dark:hover {
  background-color: black;
  border-color: black; 
}
.btn-grey {
  background-color: #bababa;
}
.btn-black {
  background-color: #000;
  color: white;
}

.btn-black:hover {
  background-color: #647acc;
  color: white;
}

#explain {
  background: #647acc; //#6385ff
  color: white;
  width: auto;
  padding: 2rem;
  p {
    margin-top: 1rem;
  }
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 40px; /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: white;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}


.fries-btn,.fries-btn-art {
  width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    //border: 1px solid white;
    border-radius: 50%;
  a {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 3px;
    right: 3px;
    background-image: url(/public/assets/images/fries-cross_bn.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    
  }
  
}


