body {
  color: white;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Roboto";
  background-color: black;
  margin: 0;
}

section {
  padding: 1rem;
}

#explain {
  background: #6385ff;
  color: white;
  padding: 10px;
  width: auto;
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 40px; /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: white;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}
.dates {
  .date-heading {
    .mussel {
      display: inline-block;
      width: 60px;
      height: 60px;
      background-image: url(/public/assets/images/mussel-bottom.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
      img {
        width: 60px;
        height: auto;
        padding-top: 13px;
      }
    }
    .mussel:hover {
      img {
        transform-origin: 10% 95%;
        transform: rotate(-30deg);
        transition: 0.5s;
      }
    }
    h2 {
      font-size: 1.5rem;
      display: inline-block;
    }
  }

  p {
    color: #4b3737;
    background: white;
    padding: 10px;
    margin: 25px;
    width: auto;
  }
  h3 {
    font-family: "Comfortaa", cursive;
  }
  h4 {
    font-size: 1.2rem;
  }
}
