#timeline {
    .date-heading {
      display: flex;
      align-items: flex-end;
      padding-bottom: 20px;
      border-bottom: solid 1px #707070;
    }
      h2 {
        display: inline-block;
        margin-bottom: 0;
        margin-left: 20px;
      }
      .mussel {
        display: inline-block;
        width: 60px;
        height: 60px;
        background-image: url(/public/assets/images/mussel-bottom.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        margin-left: 5%;
        img {
          width: 60px;
          height: auto;
          padding-top: 13px;
        }
      }
      
    .date-heading.active {
        .mussel {
            img {
                transform: rotate(-30deg);
              transform-origin: 15% 95%;
              transition: all .5s ease-in-out;
            }
          }
    }
    
    .decade {
        display: none;
        opacity: 0;
        border-bottom: 1px solid #707070;
    }

    .decade.open {
        display: block;
        opacity: 1;
        transition: all 3s ease-in;
        background-color: #303030;
        .mvt-heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 1rem;
            border-bottom: 1px solid #707070;
        }
        .mvt-body {
            display: none;
            padding-bottom: 2rem;
            border-bottom: 1px solid #707070;
        }
        .mvt-body.open {
            display:block;
        }
        h3 {
            display: inline-block;
            margin-bottom: 0;
            padding-left: 2rem;
            padding-top: 5px;
        }
        p {
            padding: 1rem 2rem;
            margin-bottom: 0;
        }
        .fries {
            display: inline-block;
            width: 50px;
            height: 50px;
            background-image: url(/public/assets/images/fries.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            margin-left: 10%;
            img {
                width: 60px;
                height: auto;
                padding-top: 13px;
            }
        }
        .mvt-heading.active {
            border-bottom: 0;
            .fries {
                background-image: url(/public/assets/images/fries-cross.png);
                transform-style: preserve-3d;
                transition: 0.1s;
            }
        }
        .artists-list{
            padding: 0 .5rem;
            a {
                margin: 0.35rem;
                background-color: #D5CEE0;
                border-color: #D5CEE0;
                border-radius: 0;
                i {
                    margin-right: 7.5px;
                }
            }
            a:hover {
                margin: 0.35rem;
                background-color: white;
                border-color: #D5CEE0;
                
            }
        }
    }
}